<nav class="bg-gradient-to-r from-cyan-500 from-purple-200	to-blue-500 fixed top-[0%]  w-full'  py-4 ">
    <div class="container mx-auto flex items-center justify-around gap-[190px] px-4 ">
        <a href="/" class="text-black text-2xl font-bold">Restaurant Name</a>
        <div class="flex items-center space-x-6">
            <a href="/menu" class="text-black-400 text-[20px] hover:text-yellow-700	-">Menu</a>
            <a href="/about" class="text-black-400 text-[20px] hover:text-yellow-700	">About Us</a>
            <a href="/contact" class="text-black-400 text-[20px] hover:text-yellow-700	">Contact</a>
            <a href="/login" class="bg-white text-white-900 px-4 py-2 rounded-full hover:bg-gray-100 transition-colors duration-300">Login</a>
        </div>
    </div>
</nav>
