<div class="w-full flex h-[80vh]">
    <div class="left w-[50%] flex items-center justify-center bg-gray-100">
        <div class="text-center">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Welcome to our website!</h2>
            <p class="text-lg text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at urna vitae magna fermentum semper. Sed accumsan libero eu mauris fringilla, et rutrum odio malesuada. Ut luctus libero ut lorem fringilla tempus.</p>
        </div>
    </div>
    <div class="right w-[50%] relative">
        <img src="../images/restau.png" alt="Restaurant Image" class="object-cover w-full h-full" />
        <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white">
            <!-- <h2 class="text-3xl font-bold mb-4">Latest Offers</h2> -->
            <ul class="list-disc text-lg text-gray-300">
                <!-- <li>Special discount on weekends!</li>
                <li>New menu items added!</li>
                <li>Free dessert with every meal!</li> -->
            </ul>
        </div>
    </div>
</div>
