<style>
    .list-item {
        transition: color 0.2s;
    }

    .list-item:hover {
        color: #310578; /* Change to your desired hover color */
    }
  .heading{
    -webkit-text-stroke: 1px rgb(247, 241, 241);

  }
    .heading:hover {
        color: #FF4500; /* Change to your desired hover color */
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); Add text shadow */


    }

</style>


<div class="w-full flex h-[80vh] relative">
    <div class="absolute inset-0 flex flex-col justify-center items-center text-white">
        <h2 class="text-6xl text-gray-900 font-bold mb-4 heading">Welcome to our website</h2>
        <ul class="list-disc text-xl text-gray-300">
            <li class="mb-3 list-item"><span class="text-yellow-500 font-semibold">Show our latest project</span></li>
            <li class="mb-3 list-item"><span class="text-green-500 font-semibold">New menu items added!</span></li>
            <li class="list-item"><span class="text-blue-500 font-semibold">Free dessert with every meal!</span></li>
        </ul>
    </div>
    
    <img src="https://images.unsplash.com/photo-1543353071-10c8ba85a904?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Restaurant Image" class="object-cover w-full h-[90%] mt-[0px]" />
</div>
