
<style>

.page3{
        width: 100%;
        height: 70vh;
        background-color: #D1D5DB;
        display: flex;
    }
    .leftp3{
        width: 30%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #001337; */

    }
    .lp3top{
        width: 90%;
        height: 45%;
        /* background-color: green; */
        background-image: url(https://images.unsplash.com/photo-1463183547458-6a2c760d0912?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        border-top-left-radius: 22%;
        margin-left: 10%;
        transition: all ease .5s;

    }
    .lp3top:hover{
        transform: translateX(-15%);
        /* transition: all ease .5s; */

    }
    .lp3bot:hover{
        transform: translateX(-15%);
        /* transition: all ease .5s; */

    }
    .lp3bot{
        width: 90%;
        height: 50%;
        /* background-color:gray; */
        background-image: url(https://images.unsplash.com/photo-1536392706976-e486e2ba97af?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        /* border-top-left-radius: 25%; */
        border-bottom-left-radius: 22%;
        margin-left: 10%;
        transition: all ease .5s;

    }
    .rightp3{
        width: 70%;
        height: 100%;
        /* background-color: palevioletred; */
        display: flex;
        /* justify-content: center; */
        align-items: center;

    }
    .rp3-text{
        width: 40%;
        height: 100%;
        background-color: #001337;
       /* background-color: #0E0D07;         */

        border-radius: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .rp3top{
        width: 75%;
        height: 55%;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: 27%; */
    }
    .rp3top h3{
    font-size: 35px;
    padding-top: 9%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .rp3top p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .rp3top h6{
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
    }
    .rp3-content{
        width: 40%;
        height: 75%;
        /* background-color: seagreen; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }
    .conpic{
        width: 90%;
        height: 75%;
        /* background-color: blueviolet */
        background-image: url(https://images.unsplash.com/photo-1573830539666-1f96afdf149f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        border-top-right-radius: 20%;
        transition: all ease .8s;
    }
    .conpic:hover{
        transform: translateX(20%);
    }
    .context{
        width: 90%;
        height: 18%;
        /* background-color: rgb(226, 43, 43); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: #0E0D07;     */
        background-color: #001337;

        color: white;

    }
    .wordp3{
        width: 100%;
        height: 60%;
          color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #001337;

        /* background-color: #abcff4; */
        /* background-color: #0E0D07;         */
  
    }
    .wordp3 h3{
        font-size: 22px;
        /* background-color: #0E0D07;         */
        background-color: #001337;


    }
    .wordp3 h4{
        font-size: 28px;
        padding-left: 2%;
       font-family: 'Rubik', sans-serif;

    }
    .context  h5{
        padding-left: 2%;
        font-size: 12px;
       font-family: 'Rubik', sans-serif;
        background-color: #001337;
       /* background-color: #0E0D07;         */

       color: white;

    }

    .clr{
        color: #f2f4f7;
       /* background-color: #0E0D07;         */

        padding-left: 2%;
    }
    .call{
        /* background-color: red; */
        padding: 7px 25px;
        border-radius: 5px;
        margin-right: 50%; 
        margin-top: 5%;
        background-color: #95bde8;
        border: none;
    }

</style>


<div class="page3">
    <div class="leftp3">
        <div class="lp3top"></div>
        <div class="lp3bot"></div>
    </div>
    <div class="rightp3">
        <div class="rp3-text">
           <div class="rp3top">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nisi laborum perspiciatis quae facilis laboriosam fugit nesciunt accusamus maiores eius sapiente vitae accusantium culpa velit iste deleniti enim, earum reiciendis hic obcaecati reprehenderit aspernatur consectetur corrupti! Distinctio debitis odio ad!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit unde corporis nisi inventore ducimus laudantium saepe harum magnam nam asperiores?</p>
           <h6>contact us for our service</h6>

           </div>
           <!-- <button class="call">ADD MORE</button> -->
        </div>
        <div class="rp3-content">
            <div class="conpic"></div>
            <div class="context">
               <div class="wordp3">
                <h3><span class="clr">Soft & cozy</span></h3>
                <!-- <h4><span>Estate Awarness</span></h4> -->
               </div>
                <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam perferendis nulla numquam mollitia nihil delectus.</h5>
            </div>
        </div>
    </div>
    </div>